<div class="movie-card">
  <button data-view-more-target="remove" data-action="click->view-more#remove" data-index="<%= index %>" class="movie-card-delete-button">X</button>
  <%= image_tag "", data: {omdb_request_target:"movie_post"} %>
  <div class="movie-card-infos-container">
    <h1 class="movie-card-infos-container-title" data-omdb-request-target="movie_title"></h1>
    <p class="movie-card-infos-container-description" data-omdb-request-target="movie_description"></p>
    <div class="movie-card-infos-container-buttons-container">
      <%= link_to "Learn more", "search_result_details", class: "movie-card-infos-container-buttons-container-button" , data: {action: "drag->slider"}%>
      <%# <%= link_to "Watch", "", class: "movie-card-infos-container-buttons-container-button" %>
      <%= link_to "More like this", "", class: "movie-card-infos-container-buttons-container-button" %>
    </div>
  </div>
</div>
