<h1>Let's find the perfect movie for you</h1>


<%= form_with(model: @query, url: recommendations_path, method: :post) do |form| %>
  <div class="form-group">
    <%= form.label :medium, "Medium:" %>
    <%= form.select :medium, ["movie", "tvshow"], prompt: "Select a medium" %>
  </div>

  <div class="form-group">
    <%= form.label :time, "Time (in minutes):" %>
    <%= form.range_field :time, min: 15, max: 120, step: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :audience, "Audience:" %>
    <%= form.select :audience, ["family", "couple", "just me"], prompt: "Select an audience" %>
  </div>

  <div class="form-group">
    <%= form.label :genres, "Genres (up to 5):" %>
    <%= form.collection_check_boxes :genre, @genres.map(&:to_sym), :itself, :to_s, include_hidden: false %>
  </div>

  <div>

    <div class="form-group w-25">
      <%= form.label :year_option, "Year Option:" %>
      <%= form.select :year_option, [['Only Before', 'only_before'], ['Only After', 'only_after'], ['In Between', 'in_between']], {}, class: 'form-control' %>
    </div>

    <div class="form-group w-25">
      <%= form.label :year_from, "From:" %>
      <% if @query.year_option == 'only_before' %>
        <%= form.number_field :year_before, value: 1900, readonly: true, class: 'form-control' %>
      <% elsif @query.year_option == 'only_after' %>
        <%= form.number_field :year_before, value: 2024, readonly: true, class: 'form-control' %>
      <% else %>
        <%= form.number_field :year_before, in: 1900..2023, step: 1, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group w-25">
      <%= form.label :year_after, "To:" %>
      <%= form.number_field :year_after, in: 1900..2023, step: 1, class: 'form-control' %>
    </div>


  </div>


  <div class="form-group">
    <%= form.label :happiness, "Happiness Mood:" %>
    <%= form.range_field :happiness, min: 0, max: 10 %>
  </div>

  <div class="form-group">
    <%= form.label :intensity, "Intensity Level (0-10):" %>
    <%= form.range_field :intensity, min: 0, max: 10 %>
  </div>

  <div class="form-group">
    <%= form.label :novelty, "Novelty Level (0-10):" %>
    <%= form.range_field :novelty, min: 0, max: 10 %>
  </div>

  <div class="form-group">
    <%= form.label :recent_movie1, "Recently Watched Movie 1:" %>
    <%= form.text_field :recent_movie1 %>
  </div>

  <div class="form-group">
    <%= form.label :recent_movie2, "Recently Watched Movie 2:" %>
    <%= form.text_field :recent_movie2 %>
  </div>

  <div class="form-group">
    <%= form.label :recent_movie3, "Recently Watched Movie 3:" %>
    <%= form.text_field :recent_movie3 %>
  </div>

  <div class="form-group">
    <%= form.label :other, "Other Preferences:" %>
    <%= form.text_area :other %>
  </div>

  <%= form.submit "Search", class: "btn btn-primary", formaction: recommendations_path %>

<% end %>
