<%= render "shared/navbar" %>
<div class="main-container">
  <br>
  <h5>Guide Bazzy with your mood, available time and genre preferences.</h5>
  <h5>Let us curate your perfect movie or TV show - all in a few clicks</h5>
  <br>
  <hr class="divider">
  <%= form_with(model: @query, url: search_path, method: :post) do |form| %>
    <%# Medium %>
    <div class="form-group">
      <div class="form-buttons">
        <%= form.button :medium, value: "movie", class: "form-button", type: "button", name: "query[medium]" do %>
          Movie
        <% end %>
        <%= form.button :medium, value: "tvshow", class: "form-button", type: "button", name: "query[medium]" do %>
          TV Show
        <% end %>
      </div>
    </div>
    <hr class="divider">
    <%# Time %>
    <h5> Got time to spare? </h5>
    <br>
    <div class="form-group" data-controller="slider">
      <%= form.range_field :time, min: 15, max: 120, step: 5, class: "custom-range", data: {action: "change->slider#updateValue", slider_target: "input"}, name: "query[time]"%>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span>min</span>
    </div>
    <hr class="divider">
    <%# Audience %>
    <h5> Who's joining the fun? </h5>
    <br>
    <div class="form-group">
      <div class="form-buttons">
        <%= form.button :audience, value: "justme", class: "form-button", type: "button" do %>
          Just Me
        <% end %>
        <%= form.button :audience, value: "couple", class: "form-button", type: "button" do %>
          Couple
        <% end %>
        <%= form.button :audience, value: "family", class: "form-button", type: "button" do %>
          Family
        <% end %>
      </div>
    </div>
    <hr class="divider">
    <%# Genre %>
    <h5> Favor Any Genres? </h5>
    <br>
    <div class="form-group">
      <div class="row">
        <% @genres.each_slice(4) do |genres_group| %>
          <% genres_group.each do |genre| %>
            <div class="col-md-2 mb-4">
              <%= button_tag genre, type: 'button', class: 'form-button', name: 'query[genre][]', data: { toggle: 'button' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr class="divider">
    <%# Year %>
    <div>
      <div class="d-flex">
        <div class="form-group w-25">
          <%= form.label :year_from, "Select:" %>
          <%= form.select :year_option, [['Only Before', 'only_before'], ['Only After', 'only_after'], ['Between', 'in_between']], {}, class: 'form-control' %>
        </div>
        <div class="form-group w-25">
          <%= form.label :year_from, "From:" %>
          <% if @query.year_option == 'only_before' %>
            <%= form.number_field :year_before, value: 1900, readonly: true, class: 'form-control' %>
          <% elsif @query.year_option == 'only_after' %>
            <%= form.number_field :year_before, value: 2024, readonly: true, class: 'form-control' %>
          <% else %>
            <%= form.number_field :year_before, in: 1900..2023, step: 1, class: 'form-control' %>
          <% end %>
        </div>
        <div class="form-group w-25">
          <%= form.label :year_after, "To:" %>
          <%= form.number_field :year_after, in: 1900..2023, step: 1, class: 'form-control' %>
        </div>
      </div>
    </div>
    <hr class="divider">
    <%# Mood %>
    <div>
      <h6> Mood</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how you're feeling on a happiness scale</div>
      </div>
    </div>
    <div class="form-group" data-controller="slider">
      <%= form.range_field :happiness, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>
    <%# Intensity %>
    <div>
      <h6> Intensity</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how much you want to focus</div>
      </div>
    </div>
    <div class="form-group" data-controller="slider">
      <%= form.range_field :intensity, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>
    <%# Novelty %>
    <div>
      <h6> Novelty</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how experimental you want our suggestion to be</div>
      </div>
    </div>
    <div class="form-group" data-controller="slider">
      <%= form.range_field :novelty, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>
    <%# Recent Movies %>
    <hr class="divider">
    <h5>Any movies you recently enjoyed?</h5>
    <%# Movie search start %>
    <div data-controller="movie-search">
      <div class="form-group">
        <%= form.label :recent_movie, "Search for a movie:" %>
        <%= form.text_field :search_movie, class: 'form-control' , data: { action: 'keyup->movie-search#handleInput'}%>
      </div>
      <br>
      <div class="search-boxes-container" data-movie-search-target="results">
      </div>
      <br>
      <div class="search-boxes-container select-movies">
        <div class="search-boxes-container-results-card" data-movie-search-target="selectedOne" data-action="click->movie-search#removeMovie">
          <%= form.text_field :recent_movie1, value: "", class: "d-none", data: { target: "movie-search.recentOne"} %>
          <img src="" class="search-boxes-container-results-card-image" />
          <p class="search-boxes-container-results-card-infos">
            Select a movie
          </p>
        </div>
        <div class="search-boxes-container-results-card" data-movie-search-target="selectedTwo" data-action="click->movie-search#removeMovie">
          <%= form.text_field :recent_movie2, value: "", class: "d-none",  data: { target: "movie-search.recentTwo"} %>
          <img src="" class="search-boxes-container-results-card-image" />
          <p class="search-boxes-container-results-card-infos">
            Select a movie
          </p>
        </div>
        <div class="search-boxes-container-results-card" data-movie-search-target="selectedThree" data-action="click->movie-search#removeMovie">
          <%= form.text_field :recent_movie3, value: "", class: "d-none",  data: { target: "movie-search.recentThree"} %>
          <img src="" class="search-boxes-container-results-card-image" />
          <p class="search-boxes-container-results-card-infos">
            Select a movie
          </p>
        </div>
      </div>
    </div>
    <%# Movie search end %>
    <br>
    <%# Other %>
    <hr class="divider">
    <h5> Anyhting else we should know? </h5>
    <p> Feel free to write your heart out</p>
    <br>
    <div class="form-group">
      <%= form.text_area :other, class: "form-text-area" %>
    </div>
    <hr class="divider">
    <%= form.submit "Search", class: "search-button"%>
  <% end %>
</div>
