<%= render "shared/navbar" %>
<div class="main-container">
  <br>
  <h5>Guide Bazzy with your mood, available time and genre preferences.</h5>
  <h5>Let us curate your perfect movie or TV show - all in a few clicks</h5>
  <br>
  <hr class="divider">
  <%= form_with(model: @query, url: search_path, method: :post) do |form| %>

    <%# Medium %>
    <div class="form-group">
      <div class="form-buttons">
        <%= form.button :medium, value: "movie", class: "form-button", type: "button", name: "query[medium]" do %>
          Movie
        <% end %>
        <%= form.button :medium, value: "tvshow", class: "form-button", type: "button", name: "query[medium]" do %>
          TV Show
        <% end %>
      </div>
    </div>
    <hr class="divider">

    <%# Medium Test %>

    <%= form.collection_radio_buttons :medium, ["movie", "tv_show"], :to_s, :titleize,
      item_wrapper_tag: 'div',
      item_wrapper_class: 'category-item',
      class: 'category-selector button-selector' do |b| %>
        <%= b.label class: 'button-selector' do %>
        <%= b.radio_button + b.text %>
        <% end %>
    <% end %>



    <%# Time %>
    <h5> Got time to spare? </h5>
    <br>
    <div class="form-group" data-controller="slider">
      <%= form.range_field :time, min: 15, max: 120, step: 5, class: "custom-range", data: {action: "change->slider#updateValue", slider_target: "input"}, name: "query[time]"%>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span>min</span>
    </div>
    <hr class="divider">

    <%# Audience %>
    <h5> Who's joining the fun? </h5>
    <br>
    <div class="form-group">
      <div class="form-buttons">
        <%= form.button :audience, value: "justme", class: "form-button", type: "button" do %>
          Just Me
        <% end %>
        <%= form.button :audience, value: "couple", class: "form-button", type: "button" do %>
          Couple
        <% end %>
        <%= form.button :audience, value: "family", class: "form-button", type: "button" do %>
          Family
        <% end %>
      </div>
    </div>
    <hr class="divider">

    <%# Genre %>
    <h5> Favor Any Genres? </h5>
    <br>
    <%= form.fields_for :genre do |genre_form| %>
      <div class="row"  data-controller="genre-selection" data-genre-selection-target="container">
        <% @genres.each_slice(6) do |genres_row| %>
          <div class="row">
            <% genres_row.each do |genre| %>
              <div class="tag-item col-md-2 mb-4" data-controller="genre-selection" data-genre-selection-target="checkbox">
                <%= genre_form.check_box genre.to_sym, { class: "tag-selector", style: "display: none;" , data: { action: "click->genre-selection#updateSelectedCount" }}, genre %>
                <%= genre_form.label genre %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>



    <%# Year %>
    <div>
      <div class="d-flex">
        <div class="form-group w-25">
          <%= form.label :year_from, "Select:" %>
          <%= form.select :year_option, [['Only Before', 'only_before'], ['Only After', 'only_after'], ['Between', 'in_between']], {}, class: 'form-control' %>
        </div>
        <div class="form-group w-25">
          <%= form.label :year_from, "From:" %>
          <% if @query.year_option == 'only_before' %>
            <%= form.number_field :year_before, value: 1900, readonly: true, class: 'form-control' %>
          <% elsif @query.year_option == 'only_after' %>
            <%= form.number_field :year_before, value: 2024, readonly: true, class: 'form-control' %>
          <% else %>
            <%= form.number_field :year_before, in: 1900..2023, step: 1, class: 'form-control' %>
          <% end %>
        </div>
        <div class="form-group w-25">
          <%= form.label :year_after, "To:" %>
          <%= form.number_field :year_after, in: 1900..2023, step: 1, class: 'form-control' %>
        </div>
      </div>
    </div>
    <hr class="divider">

    <%# Mood %>
    <div>
      <h6> Mood</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how you're feeling on a happiness scale</div>
      </div>
    </div>

    <div class="form-group" data-controller="slider">
      <%= form.range_field :happiness, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>

    <%# Intensity %>
    <div>
      <h6> Intensity</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how much you want to focus</div>
      </div>
    </div>

    <div class="form-group" data-controller="slider">
      <%= form.range_field :intensity, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>

    <%# Novelty %>
    <div>
      <h6> Novelty</h6>
      <div class="help-icon">
        <i class="fa-solid fa-circle-question"></i>
        <div class="help-text">Tell us how experimental you want our suggestion to be</div>
      </div>
    </div>

    <div class="form-group" data-controller="slider">
      <%= form.range_field :novelty, min: 0, max: 10, data: {action: "change->slider#updateValue", slider_target: "input"} %>
      <span data-slider-target="output" class="text-center" style="display: inline-block"></span>
      <span> / 10</span>
    </div>

    <%# Recent Movies %>
    <hr class="divider">
    <h5>Any movies you recently enjoyed?</h5>

    <%# Movie search start %>
    <div data-controller="movie-search">
      <div class="form-group">
        <%= form.label :recent_movie, "Search for a movie:" %>
        <%= form.text_field :search_movie, class: 'form-control' , data: {target: "search", action: 'keyup->movie-search#handleInput'}%>
      </div>
      <br>
      <div class="search-boxes-container" data-movie-search-target="results">
      </div>
      <br>
      <div class="gray-boxes">
        <div class="gray-box">
          <% if @query.recent_movie1.present? %>
            <span class="selected-movie"><%= @query.recent_movie1 %></span>
          <% else %>
            <span class="empty-box"></span>
          <% end %>
        </div>
        <div class="gray-box">
          <% if @query.recent_movie2.present? %>
            <span class="selected-movie"><%= @query.recent_movie2 %></span>
          <% else %>
            <span class="empty-box"></span>
          <% end %>
        </div>
        <div class="gray-box">
          <% if @query.recent_movie3.present? %>
            <span class="selected-movie"><%= @query.recent_movie3 %></span>
          <% else %>
            <span class="empty-box"></span>
          <% end %>
        </div>
      </div>
    </div>
    <%# Movie search end %>

    <%# Other %>
    <hr class="divider">
    <h5> Anyhting else we should know? </h5>
    <p> Feel free to write your heart out</p>
    <br>
    <div class="form-group">
      <%= form.text_area :other, class: "form-text-area" %>
    </div>

    <hr class="divider">
    <%= form.submit "Search", class: "search-button"%>
  <% end %>
</div>
