<%= render "shared/navbar" %>
<div class="container my-4 min-vh-100 align-content-center">
  <div class="row">
    <% unless @data['result']['youtubeTrailerVideoId'].nil? %>
      <div class="col-lg-12 mb-4">
        <div class="banner trailer">
          <div class="trailer-content">
            <iframe src="https://www.youtube.com/embed/<%=@data['result']['youtubeTrailerVideoId']%>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-lg-8">
      <div class="recommendation-content">
        <h1><%= "#{@recommendation.movie_name} (#{@recommendation.year})" %></h1>
        <%= link_to "Add to watch list", add_recommendations_to_watch_list_path, data: {turbo_method: :update} %>
        <p>
          <strong>
            <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1150px-IMDB_Logo_2016.svg.png?20200406194337", alt: "IMDb Logo", class: "imdb-logo", style: "width: 10%;"), "https://www.imdb.com/title/#{@recommendation.imdbID}", target: "_blank" %>
          </strong>
        </p>
        <p><strong>Genres:</strong></p>
        <div class="d-flex flex-wrap my-4">
          <% @recommendation.genre.split(',').each do |genre| %>
            <div class="p-1">
              <%= content_tag :span, genre.strip, class: "genre-button" %>
            </div>
          <% end %>
        </div>
        <p><strong>Runtime:</strong> <%= @recommendation.runtime %></p>
        <p><strong>imdB Score:</strong>
          <% @recommendation.imdb_score.to_i.times do %>
            ⭐️
          <% end %>
          <% (10 - @recommendation.imdb_score.to_i).times do %>
            ☆
          <% end %>
          (<%= @recommendation.imdb_score %> out of 10)
        </p>
        <p><strong>Synopsis:</strong> <%= @recommendation.synopsis %></p>
        <p><strong>Director(s):</strong> <%= @recommendation.director %></p>
        <p><strong>Writer(s):</strong> <%= @recommendation.writer %></p>
        <p><strong>Actors:</strong> <%= @recommendation.actors %></p>
        <p><strong>Awards:</strong> <%= @recommendation.awards %></p>
        <br>
        <% streaming_info = @data['result']['streamingInfo']['de'] %>
        <% if streaming_info.present? %>
          <% subscriptions = [] %>
          <% rentals = [] %>
          <% purchases = [] %>
          <% subscription_platforms = [] %>
          <% rental_platforms = [] %>
          <% purchase_platforms = [] %>
          <% streaming_info.each do |platform, options| %>
            <% if options.any? { |option| option['type'] == 'subscription' } %>
              <% subscriptions << platform %>
            <% end %>
            <% if options.any? { |option| option['type'] == 'rent' } %>
              <% rentals << platform %>
            <% end %>
            <% if options.any? { |option| option['type'] == 'buy' || (option['type'] == 'addon' && platform == 'prime') } %>
              <% purchases << platform %>
            <% end %>
          <% end %>
          <% if subscriptions.any? %>
            <div class="section gap-5">
              <div>
                <p>Watch:</p>
              </div>
              <% streaming_info.each do |platform, options| %>
                <% if subscriptions.include?(platform) %>
                  <% options.each do |option| %>
                    <% if option['type'] == 'subscription' %>
                      <% link = option['link'] %>
                      <% price = option['price'] %>
                      <% availability_quality = option['quality'] %>
                      <% availability_text = "Subscription (#{availability_quality}):" %>
                      <% if link.present? && !rental_platforms.include?(platform) %>
                        <div class="platform">
                          <%= link_to image_tag("#{platform}.png", class: 'streaming-logo2'), link, target: "_blank" %>
                        </div>
                        <% subscription_platforms << platform %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if rentals.any? %>
            <br>
            <div class="section gap-5">
              <div>
                <p>Rent:</p>
              </div>
              <% streaming_info.each do |platform, options| %>
                <% if rentals.include?(platform) %>
                  <% options.each do |option| %>
                    <% if option['type'] == 'rent' %>
                      <% link = option['link'] %>
                      <% if link.present? && !rental_platforms.include?(platform) %>
                        <div class="platform">
                          <%= link_to image_tag("#{platform}.png", class: 'streaming-logo2'), link, target: "_blank" %>
                        </div>
                        <% rental_platforms << platform %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if purchases.any? %>
            <br>
            <div class="section gap-5">
              <div>
                <p>Buy:</p>
              </div>
              <% streaming_info.each do |platform, options| %>
                <% if purchases.include?(platform) %>
                  <% options.each do |option| %>
                    <% if option['type'] == 'buy' || (option['type'] == 'addon' && platform == 'prime') %>
                      <% link = option['link'] %>
                      <% if link.present? && !purchase_platforms.include?(platform) %>
                        <div class="platform">
                          <%= link_to image_tag("#{platform}.png", class: 'streaming-logo2'), link, target: "_blank" %>
                        </div>
                        <% purchase_platforms << platform %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <br>
        <br>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="sticky-poster">
        <%= link_to image_tag(@recommendation.image, alt: "#{@recommendation.movie_name} Poster"), "https://www.imdb.com/title/#{@recommendation.imdbID}", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
