<%= render "shared/navbar" %>
<div class="container my-4 min-vh-100 align-content-center">
  <div class="row">
    <div class="col-lg-8">
      <% if @recommendation.trailer_link.present? %>
        <div class="banner trailer mb-4">
          <div class="trailer-content">
            <iframe src="<%=@recommendation.trailer_link%>" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>No trailer available</p>
        </div>
        <% else %>
        <% end %>
      <div class="recommendation-content">
        <h1><%= "#{@recommendation.movie_name} (#{@recommendation.year})" %></h1>
        <p><strong>Genres:</strong></p>
        <div class="d-flex flex-wrap my-4">
          <% @recommendation.genre.split(',').each do |genre| %>
            <div class="p-1">
              <%= content_tag :span, genre.strip, class: "form-button" %>
            </div>
          <% end %>
        </div>

        <p><strong>Rating:</strong> <%= @recommendation.rating %></p>

        <h2>Synopsis</h2>
        <p><%= @recommendation.trailer_link %></p>
        <p><%= @recommendation.synopsis %></p>

        <h2>Director</h2>
        <p><%= @recommendation.director %></p>

        <h2>Writer</h2>
        <p><%= @recommendation.writer %></p>

        <h2>Actors</h2>
        <p><%= @recommendation.actors %></p>

        <h2>Awards</h2>
        <p><%= @recommendation.awards %></p>

        <h2>Runtime</h2>
        <p><%= @recommendation.runtime %></p>

        <h2>Rotten Score</h2>
        <p><%= @recommendation.rotten_score %></p>

        <h2>IMDB Score</h2>
        <p><%= @recommendation.imdb_score %></p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="sticky-poster">
        <img src="<%= @recommendation.image %>" alt="<%= @recommendation.movie_name %> Poster">
      </div>
    </div>
  </div>
</div>
