<%= render "shared/navbar" %>
<div class="d-flex align-items-center justify-content-center flex-column container min-vh-100 w-100">
  <h2>This is your personal profile page</h2>
  <div>
    <h3>This is your previous Querys:</h3>
    <div>
      <% @querys.each do |query| %>
        <div>
          <h4><%= query.medium ? query.medium : "You don't choose the medium in this Query" %></h4>
          <p><%= query.other %></p>
          <p><%= query.created_at %></p>
        </div>
      <% end %>
    </div>
    <h3>This is your previous Movies recommendation:</h3>
    <hr/>
    <div class="container d-flex flex-column w-100 position-relative">
      <% @querys.each do |query| %>
        <h3>Query: <%= query.id %> of <%= @querys.length %></h3>
        <hr/>
        <div data-controller="cards-slider" class="d-flex align-items-center justify-content-start overflow-hidden w-100 gap-3 py-4">
          <button data-action="click->cards-slider#leftSlide" class="left-button slider-button" disabled="true"><%= '<' %></button>
          <div data-cards-slider-target="slide" class="d-flex align-items-center justify-content-start gap-3 py-4 position-relative">
            <% @recommendations.each do |recommendation| %>
              <% if recommendation.query_id == query.id %>
                <%= render "pages/movie_card", movie: recommendation %>
              <% end %>
            <% end %>
          </div>
          <button data-action="click->cards-slider#rightSlide" class="right-button slider-button"><%= '>' %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
