<%= render "shared/navbar" %>
<div class="min-vh-100 w-100">
  <% if @querys.length > 0  %>
    <div class="d-flex align-items-center justify-content-center flex-column container min-vh-100 w-100 p-0">
      <div class="container d-flex flex-column w-100 position-relative">
        <div data-controller="cards-slider" class="d-flex align-items-center justify-content-start overflow-hidden w-100 gap-3 py-4">
          <button data-action="click->cards-slider#leftSlide" class="left-button slider-button" disabled="true"><%= '<' %></button>
          <div data-cards-slider-target="slide" class="d-flex align-items-center justify-content-start gap-3 py-4 position-relative" style="transform: translateX(0px);">
            <% @querys.each do |query| %>
              <a href="#query<%= query.id %>" class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian w-100">
                  <%= image_tag "bazzy_avatar.png", alt: "Bazzy" %>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-start" style="min-height:200px">
                  <div class="clash-card__level clash-card__level--barbarian w-100">Query <%= query.id %></div>
                  <div class="clash-card__unit-name text-capitalize w-100"><%= query.medium ? query.medium : "Movie / TV Show" %></div>
                  <div class="clash-card__unit-description w-100">
                    <p>
                      <%= query.other != '' ? query.other : "Next time, tell us more about yourself :("%>
                    </p>
                  </div>
                </div>
                <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix w-100">
                  <div class="one-third">
                    <div class="stat"><%= query.time %></div>
                    <div class="stat-value">Minutes</div>
                  </div>
                  <div class="one-third">
                    <div class="stat"><%= query.intensity %>/10</div>
                    <div class="stat-value">Intensity</div>
                  </div>
                  <div class="one-third no-border">
                    <div class="stat"><%= query.novelty %>/10</div>
                    <div class="stat-value">Novelty</div>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
          <button data-action="click->cards-slider#rightSlide" class="right-button slider-button"><%= '>' %></button>
        </div>
      </div>
      <h3>Your Watch List:</h3>
      <hr/>
      <div class="container d-flex flex-column w-100 position-relative">
        <div data-controller="cards-slider" class="d-flex align-items-center justify-content-start overflow-hidden w-100 gap-3 py-4">
          <button data-action="click->cards-slider#leftSlide" class="left-button slider-button" disabled="true"><%= '<' %></button>
          <div data-cards-slider-target="slide" class="d-flex align-items-center justify-content-start gap-3 py-4 position-relative" style="transform: translateX(0px);">
            <% @watch_list.reverse.each do |movie| %>
              <%= render "pages/movie_card", movie: movie, watch_list: true %>
            <% end %>
          </div>
          <button data-action="click->cards-slider#rightSlide" class="right-button slider-button"><%= '>' %></button>
        </div>
      </div>
      <h3>Your Previous Recommendations:</h3>
      <hr/>
      <div class="container d-flex flex-column w-100 position-relative">
        <% @querys.reverse.each_with_index do |query,index| %>
          <h3>Query: <%= query.id %> of <%= @querys.length %></h3>
          <hr/>
          <div class="prompt-container">
            <div class="bazzy-display">
              <%= image_tag "bazzy_avatar.png", alt: "Show case of BazzAI", id: "bazzy-index" %>
            </div>
            <div class="typewriter-container">
              <div style="font-family: 'poppins'; font-size: 18px">
                <%= @display_prompts[index] %>
              </div>
            </div>
          </div>
          <div data-controller="cards-slider" class="d-flex align-items-center justify-content-start overflow-hidden w-100 gap-3 py-4">
            <button data-action="click->cards-slider#leftSlide" class="left-button slider-button" disabled="true"><%= '<' %></button>
            <div id="query<%= query.id %>" data-cards-slider-target="slide" class="d-flex align-items-center justify-content-start gap-3 py-4 position-relative" style="transform: translateX(0px);">
              <% @recommendations.each do |recommendation| %>
                <% if recommendation.query_id == query.id %>
                  <%= render "pages/movie_card", movie: recommendation, watch_list: false %>
                <% end %>
              <% end %>
            </div>
            <button data-action="click->cards-slider#rightSlide" class="right-button slider-button"><%= '>' %></button>
          </div>
        <% end %>
      </div>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "add-button add-button-log-out" %>
    </div>
  </div>
<% else %>
  <div class="container p-0">
    <h1>No queries yet</h1>
  </div>
<% end %>
</div>
